
#navbar{
    display: flex;
    justify-content: space-between;
    padding: 0px 3% 0px 3%;
    /* border: 1px solid rgb(171, 168, 168); */
    
}
#div1{
    /* border: 1px solid red; */
    display: flex;
    gap: 20px;  
}
#div1>P{
   /* border: 1px solid red; */
   margin: 20px 5px; 
     
}
#first{
    width:20%;
    padding: 10px 0px 10px 0px;
    /* border: 1px solid red; */
    height: 30px;
}
#second{
    width: 10%;
    /* display: flex; */
   
}
#div2{
    /* border: 1px solid red; */
    padding-top: 20px;
    display: flex;
    gap: 40px;
    height: 30px;
    
}
#div2>p{
    margin-top: -3px;
    /* border: 1px solid red; */

}
a{
    text-decoration: none;
}
#profile{
    width: 40px;
    margin: -10px 0px 0px 10px;
    /* border: 1px solid red; */
    
}
#navbar{font-family: 'Noto Sans', sans-serif;}

@media only screen and (min-width:0px) and (max-width:900px){
    #div1{
        gap: 10px;
    }
   #div1>p{
    /* border: 1px solid red; */
    margin: 15px 5px;

   }
   #div2{
    padding-top: 15px;
    gap: 20px;
   }
}
